@import url('https://fonts.cdnfonts.com/css/metropolis-2');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
  
::-webkit-scrollbar-thumb {
    background: #ffffff4C;
    
}
  
::-webkit-scrollbar-thumb:hover {
    background: #ffffff3c;
}

::-webkit-scrollbar-thumb:active {
    background: #ffffff7c;
}

.scroll-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-slide-in {
    animation: slideIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideInModal {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
  
  .animate-fade-in {
    animation: fadeIn 0.5s ease-out;
  }
  
  .animate-slide-in-modal {
    animation: slideInModal 0.5s ease-out forwards;
  }

*{
    user-select: none;
}